body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.page-title {
    letter-spacing: 8px;
}

.poem-title {
    font-family: 'Crimson Pro', serif;
    font-size: 36px;
    color: #b71540;
}

.poem p:first-of-type {
    font-weight: bold;
    font-style:italic;
}
